.selected {
    background-color: gray; /* Change background color when selected */
    border: 2px solid black;  /* Optional: Add a border */
    transition: background-color 0.1s ease; /* Smooth transition effect */
}

#finish, #reference-image-container, #image-container, #buttons-container, #progress-section, #completion-message{
    display: none; /* Hide finish button initially */
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 50px; /* Space between images */
    margin-top: 20px;
}

/* Style for each image and its caption */
.image-box {
    text-align: center;
}

.image {
    width: 350px;
    height: auto;
}

/* The sidebar styling */
.sidebar {
    height: 100%; /* Full-height */
    width: 0; /* Start hidden */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0; /* Sidebar on the right side */
    background-color: #f3e3ac; /* Black background color */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content below the header */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* Sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Sidebar close button */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* When the sidebar is open */
.sidebar.open {
    width: 350px; /* Set the width of the sidebar when open */
}

/* Main content adjustment when sidebar is open */
#main-content {
    transition: margin-right 0.5s;
    padding: 16px;
}

#completion-message {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#completion-message .message-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

#completion-message .message-box h1 {
    color: #4CAF50;
}

#completion-message .message-box p {
    font-size: 18px;
    color: #555555;
}

